<div class="mx-auto" style="width: 200px;">
    <div class="row voffset4">
            <img src="assets/img/csvFile_ic.png">
    </div>
    <div class="row voffset5">
        <div class="col-lg-12" style="text-align:center;padding-right: 0px;padding-top:3.5em;padding-bottom: .5em;">
            <p>
                Please upload the .csv files !!!
            </p>
          </div>
    </div>
</div>
<div class="mx-auto" style="width: 200px;">
    <div class="row voffset3">
        <div class="col-lg-12">
            <p>
    <button mat-raised-button (click)="openUploadDialog()">Upload</button>
    </p>
  </div>
</div>

<div class="mx-auto" style="width: 200px;">
    <div class="row voffset3">
        <div class="col-lg-12">
        <div>Enter Year<input [(ngModel)]="year"/></div>
            <p>
    <button mat-raised-button (click)="downloadCSV()">Download Aggregarated report</button>
    </p>
  </div>
</div>
