<div class="mx-auto" style="width: 200px;">
    <div class="row voffset4">
            <img src="assets/img/csvFile_ic.png">
    </div>
    <div class="row voffset5">
        <div class="col-lg-12" style="text-align:center;padding-right: 0px;padding-top:3.5em;padding-bottom: .5em;">
            <p>
                Please upload the .csv files !!!
            </p>
          </div>
    </div>
</div>
<div class="mx-auto" style="width: 200px;">
    <div class="row voffset3">
        <div class="col-lg-12">
            <p>
    <button mat-raised-button (click)="openUploadDialog()">Upload</button>
    </p>
  </div>
</div>

<div class="mx-auto" style="width: 200px;">
    <div class="row voffset3">
        <div class="col-lg-12">
        <div>Enter Year<input [(ngModel)]="year"/></div>
            <p><br>
    <button mat-raised-button (click)="downloadCSV()">Download Aggregarated report</button>
        </p>
  </div>
</div>
<div>
<mat-table #table [dataSource]="dataSource" *ngIf="shouldShowCategoryAddView">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
    
        <!-- Id Column -->
     <ng-container matColumnDef="donorId">
            <mat-header-cell *matHeaderCellDef> Donor Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.donorId}} </mat-cell>
          </ng-container>
     <!-- organization Column -->
     <ng-container matColumnDef="organization">
            <mat-header-cell *matHeaderCellDef> Organization </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.organization}} </mat-cell>
          </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
       <mat-select placeholder="Categories" [(ngModel)]="element.category">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">{{month}}</mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>
</mat-table>
<button mat-raised-button (click)="onCategorySubmit()" *ngIf="shouldShowCategoryAddView">Submit Categories</button>
</div>